.home-container{
    height: 100vh;
    width: 100vw;
    background: url("../assets/gng.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.home-content{
    width: fit-content;
    height: fit-content;
    padding: 50px 50px;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 1;  
}
.content-title{
  
    color:white;
    font-size: 60px;

}
.content-subtitle{
  
    color:white;
    font-size: 15px;
  
}
.content-foot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    border: 1px solid var(--logo-color);
    border-radius: 50px;
    width: fit-content;
    color: var(--logo-color);
    font-weight: bold;
    padding: 2%;
}
.shop-text{
        color: white;
    text-decoration: none;
}
.content-foot:hover{
    color: white;
    background-color: var(--logo-color);
    transition: all 0.5s normal;
}
.alsoOn{

    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.about-holder{

    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d7e5fa;
    width: 80vw;
    gap: 30px;
}
.about-logo{
    font-size: xx-large;
}
.about-text{
    color: #33578d;
    font-size: larger;
    
}
.dropdowns-holder{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    width: 100vw;
    height: 50vh;
    /* background-color: red; */
}
.features-container {
    color: rgba(0, 0, 0, 0.488);
    width: 90vw;
    height: 50vh;
    background-color: #b76a17;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px 10px 0px 0px;
  }
  
  .feature-box {
    cursor: pointer;
    border: 2px solid #c59d5f;
    border-radius: 10px;
    padding: 10px 0px;
    width: 50vw;
    text-align: center;
    transition: all 0.3s ease;
    background-color: #24232213;
  }
  
  .feature-box:hover {
    background-color: #f3e2c739;
  }
  
  .feature-subtitle {
    margin-top: 10px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.468);
  }
  